
Works on Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: whitesmoke black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  /* background: #3E2D4D; */
  background: rgba(42, 42, 42, 0.966);
  

}

*::-webkit-scrollbar-thumb {
  /* background-color: #e2c7fd; */
  background: orange;
  border-radius: 20px;
  
 
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    /* background:linear-gradient(135deg, #160d23, #28163a,#4E2A72,#562D7D); */
    background-image: url('/photocrypt-background.png');
   
    background-size:cover;
    height:100vh;
   
   
    
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* background:linear-gradient(0.25turn, #1f194b, #5d3c9b, #4f1bb1); */
  
  
}

h1{
  color:whitesmoke;
}

.content{
  padding-top: 85px;
}
.frosted-panel {

  width: 30rem;
  height: 20rem;
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(87, 84, 84, 0.219);
  
  backdrop-filter: blur(5px);
}