*{
    font-family: Rubik;


}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
   
  }






.bg-transp{
    /* background:linear-gradient(0.25turn, #191346, #331964, #3b1b75, #4a2f7e, #1f194b); */
    background: transparent;
    /* box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 

  background-color: rgba(255, 255, 255, 0.1);
  
  backdrop-filter: blur(5px); */
  transition: all 0.7s;
    
}
.bg-transp.active{
    /* background:#160d23;
    box-shadow: 0px 7px 10px rgb(97, 67, 11); */
    box-shadow: 0 0 2rem 0 #160d23; 

  background-color:#3E2D4D;
  
  backdrop-filter: blur(5px);
  transition: all 0.1s;
  
}

.navbar .navbar-nav .nav-link{
    color:#e2c7fd;
    /* font-weight: bold; */
    /* font-family: Rubik; */
}

.navbar .navbar-nav .nav-link:hover {
    color: orange;
   
  }
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 0.5em 0.7em;
    }
    .navbar {
      padding: 0;
      
    }
    .navbar .navbar-brand {
      padding: 0 0.7em;
    }
  }
  .navbar .navbar-nav .nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 1px;;
    left: 0;
    right: 0;
    margin: auto;
    background-color:orange;
    color: transparent;
    width: 0%;
    content:"";
    height: 3px;
    
    transition: all 0.3s ease-in-out;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
    background-color: orange;
  }

  
  
  .zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
  }
  
  .zoom:hover {
    box-shadow: 5px 10px 10px 3px black;
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  